.myDocs{
    flex: 4;
}
.myDocsTitle{
    color: #40515a;
    font-size: 20px;
    
    padding: 3px;
}
.contentHeader{
    /* border-bottom: 2px #519bbd solid; */
    padding: 3px;
}
.searchPanel{
    display: contents;
    /* justify-content: flex-end;
    display: flex; */
}
.searchPanelButtonContainer{
    float: right!important;
}
.docFilters{
    display: contents;
}
.filter-body{
    border-bottom: 2px #519bbd solid;
    padding-bottom: 6px;
}