.product{
    flex: 4;
    padding: 20px;
}
.productTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productAddButton{
    width: 80px;
    border:none;
    padding:5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor:pointer;
}
.productTop{
    display: flex;
}
.productTopLeft, .productTopRight{
    flex: 1;
}
.productTopRight{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 14px -4px #000000; 
    box-shadow: 0px 0px 14px -4px #000000;
}
.ProductInfoImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.productInfoTop{
    display: flex;
    align-items: center;
}
.productName{
    font-weight: 600;
}
.productInfoBottom{
    margin-top: 10px;
}
.ProductInfoItem{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.ProductInfoValue{
    font-weight: 300;
}

.productBottom{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 14px -4px #000000; 
    box-shadow: 0px 0px 14px -4px #000000;
}
.productForm{
    display: flex;
    justify-content: space-between;
}
.productFormLeft{
    display: flex;
    flex-direction: column;
}
.productFormLeft>label{
    margin-bottom: 10px;
    color:gray;
}
.productFormLeft>input{
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}
.productFormLeft>select{
    margin-bottom: 10px;    
}
.productUploadImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}
.productFormRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.productUpload{
    display: flex;
    align-items: center;
}
.productButton{
    border:none;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color:white;
    font-weight: 600;
    cursor:pointer;
}