.viewDocInfoRight{
    border-left: 3px solid orange;
    float: left;
    width: 25%;
    position: relative;
    overflow-wrap: break-word;
    padding-bottom: 12px;
}
.docContentContainer{
    /* width: 75%; */
    flex: 1;
    position: relative;
}
.viewDocContentContainer{
    display: flex;
}
.textColorBlue{
    color: #337ab7;
}