.chart{
    margin:20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 14px -4px #000000; 
    box-shadow: 0px 0px 14px -4px #000000;
    max-height: 45%;
}
.chartTitle{
    margin-bottom: 20px;
}