.widgetLg{
    flex: 2;
    -webkit-box-shadow: 0px 0px 14px -4px #000000; 
    box-shadow: 0px 0px 14px -4px #000000;
    padding: 20px;
}
.widgetLgTitle{
    font-style: 22px;
}
.widgetLgTable{
    width: 100%;
    border-spacing: 20px;
}
.widgetLgTh{
    text-align: left;
}
.widgetLgUser{
    display: flex;
    align-items: center;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.widgetLgImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.widgetLgDate,
.widgetLgAmount {
    font-weight: 300;
}
.widgetLgButton{
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
}
.widgetLgButton.Approved{
    background-color: #e5faf2;
    color: #3bb077;
}
.widgetLgButton.Declined{
    background-color: #fff1fe;
    color: #d95087;
}
.widgetLgButton.Pending{
    background-color: #ebf1fe;
    color: #2a7ade;
}