.topbar{
    width:100%;
    height: 75px;
    background-color: white;
    position:sticky;
    top:0px;
    z-index: 999;
    margin-bottom: 45px;
}
.topbarWrapper{
    height:100%;
    padding: 0px 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
    font-size:30px;
    color:darkblue;
    cursor: pointer;
}
.topRight{
    display: flex;
    align-items: center;
}
.topbarIconContainer{
    position:relative;
    cursor:pointer;
    margin-right: 10px;
    color: #555;
}
.topIconBadge{
    width:15px;
    height:15px;
    position: absolute;
    top:-5px;
    right:-6px;
    background-color: red;
    color:white;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:10px;
}
.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor:pointer;
}
.topbarTopLeftLogo{
    position: static;
    max-height: 75px;
}


.topbarMiddleIconContainer{
    /* position: absolute;
    right: 18%; */
    left: 20%;
    position: absolute;
}
.links-container{
    margin-top: 9px;
    display: flex;
    flex-direction: row;
    background-color: #6183af;
    align-items: stretch;
    justify-content: space-around;
    padding: 15px;
}

.topLeft{
    margin-top: 11px;
    display: flex;
    align-items: center;
}
.topbarIcon{
    width:45px;
    height:45px;
}
.topbarProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topbarIconContainersContainer{
    display: flex;
}