.newDocContainer{
    padding:5px;
}
.newDocSectionTitle{
    color: #40515a;
    font-size: 20px;
    
    padding: 3px;
}


.newDocFormGroupGeneral{
    display: flex !important;
    flex-direction: row !important;
}
.newDocFormControl{
    margin-right: 12px !important;
}
.newDocFormHr{
    margin-top: 17px;
    margin-bottom: 17px;
    border: 0;
    border-top: 1px solid #eee;
}
.newDocFormGroupRoute{
    display: flex !important;
    flex-direction: column !important;
}
.newDocFormControlRoute{
    margin-bottom: 12px !important;
}
.newDocFormInputLabel{
    font-size: 21px;
}