.newDocTitle{
    display: inline-block;
}
.newDocTitleText{
    color: red;
    font-size: 20px;
    padding: 3px;
}
.toolPanel{
    display: flow-root;
    border-bottom: 2px #519bbd solid
}
.toolPanelButtonContainer{
    float: right!important;
}
.contentHeader{
    padding: 3px;
    display: contents;
}